
.special-coffee {
    padding-top: 5vh;
}

.special-title {
    text-align: center;
}

.slider-container {
    display: flex;
    width: 100%;
    /* padding: 0 40px; */
    position: relative;

}

.special-container {
    min-height: 70vh;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.special-box1 {
    width: fit-content;
    position: relative;
}

.special-img {
    width: 200px;
    height: fit-content;
}

.special-btn {
    position: absolute;
    bottom: 10px;
    right: -100px;
    background-color: #A67B5B;
}

.special-box2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.active-text {
    font-size: 30px;
}

.strawberry {
    color: #f783d6;
}

.green-tea {
    color: #8f9a6f;
}

.chocolate {
    color: #b09c76;
}

.slider-btn {
    background-color: #A67B5B;
    color: white;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
}

#prev-btn {
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#next-btn {
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
}

@media (min-width: 840px) {
    .special-container {
        justify-content: space-between;
    }

    .special-img {
        width: 250px;
    }

    .special-box2 {
        font-size: 30px;
        letter-spacing: 4px;
    }

    .active-text {
        font-size: 60px;
    }
}